
/* BOJE 
    crvena: #f72249
    hover crvena: #e62145
    teget: #0e184d
    pozadina sekcija: #f7f7fd
    sivi tekst: #8f8f8f
    footer: #030919
    copyright sekcija: #101522
*/

/* GENERAL-DEFAULT STYLES USED  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: #2c438fe1;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.section-title h2 {
    text-transform: uppercase;
}

.section-title p {
    color: #8f8f8f;
}

.custom-hr {
    margin-top: .5rem;
    width: 60px;
    height: 4px;
    background-color: #f72249;
}

a {
    transition: all .3s;
}

a:hover {
    transition: all .3s;
}

.bi-arrow-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f72249;
    color: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.bi-arrow-up:hover {
    background-color: #7a1d2e;
    transition: all .3s;
}

.btn-custom {
    color: #fff;
    background-color: #f72249;
    border-radius: 50px !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-custom:hover {
    color: #fff;
    background-color: #6d2633;
}

/* NAVIGATION *********************************** */

.cta-btn {
    background-color: #f72249;
    border-radius: 100px;
    color: #fff !important;
    padding: .5rem 1.5rem !important;
    font-weight: 500;
    margin-left: .5rem;
}

.cta-btn:hover {
    background: #81182b;
     
}

.nav-bg {
    background-color: #0e194d85;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
}

.nav-bg .active {
    border-bottom: 2px solid #f72249;
}

.main-logo {
    height: 30px;
    width: auto;
}

/* HERO SECTION **********************/

.hero-section {
    background-image: url('./img/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.hero-dark {
    width: 100%;
    height: 100%;
    background-color: #060c22a9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-content {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    text-align: center;
}

.red-text {
    color: #f72249;
}

.hero-section p {
    text-align: center;
}

.modal-btn {
    background-color: #f72249;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;

}

.modal-btn:hover {
    background-color: #81182b;
}

.border-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #fff;
    border-radius: 200px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.outline-btn {
    color: #fff;
    border: 2px solid #f72249;
    border-radius: 100px;
    width: fit-content;
    padding: .3rem 1.7rem;
    text-decoration: none;
}

.outline-btn:hover {
    background-color: #f72249;
    color: #fff;
    text-decoration: none;
}

/* ABOUT EVENT */

.about-event-section {
    background-image: url('./img/about-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 3rem 0px;
    background-attachment: fixed;
    position: relative;
}

.about-event-section h2 {
    color: #fff;
}

.about-event-section p {
    margin-bottom: 0px;
}

.about-dark {
    width: 100%;
    height: 100%;
    background-color: #060c22a9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* ovo sam ja dodala da bi tekst about the event i where i when bili potpuno beli, z-index properti tu pravi neku foru */
.about-event-section .container {
    position: relative;
}

/* EVENT SPEAKERS */

.event-speakers-section {
    margin: 3.5rem 0px; 
}

.event-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
    width: 100%;
    color: #fff;
    position: relative;
    overflow: hidden; /*ikonice su sakrivene preko ovoga i bottom = -43px*/
}

.event-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(14, 14, 77, 0.39);
    padding: .9rem;
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    transition: all .4s;
}

.event-card:hover .event-card-title{
    bottom: 0px;
    transition: all .4s;
}

.event-card-title h6 {
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.event-card-title i {
    font-size: .8rem;
}

.event-card-title .bi {
    margin: 0px .15rem;
}

.event-card-title a {
    color: #fff;
    text-decoration: none;
}

.event-card-title a:hover {
    color: #f72249;
    text-decoration: none;
}

/* EVENT SECTION */

.event-section {
    background-color: #f7f7fd;
    padding: 3.5rem 0px;
}

.event-section .nav-link {
    border-radius: 100px;
    padding: .4rem 5rem;
    background-color: #0e194dea;
    color: #fff;
    margin: 0px .4rem;
    transition: all .4s;
}

.event-section .nav-link:hover {
    background-color: rgb(58, 58, 156);
    transition: all .4s;
}

.event-section {
    color: grey;
}

.event-item {
    margin-top: 2rem;
}

.event-section .nav-link.active {
    background-color: #f72249;
}

.event-section .list-group-item {
    background-color: transparent;
}

.speaker-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    margin-right: .4rem;
    margin-left: 1.5rem;
}

.event-item .list-group-item {
    display: flex;
    align-items: center;
    transition: all .4s;
    padding: 1.1rem ;
}

.event-item .list-group-item:hover {
    background-color: #fff;
    transition: all .4s;
}

.event-item h6 {
    margin-bottom: .1rem;
}

.event-item h6 i {
    color: rgb(82, 82, 190);
    font-weight: 400;
}

.event-item i {
    font-size: .9rem;
}

/* EVENT GALLERY */

.event-gallery {
    padding: 3.5rem 0px;
}

.gallery-top-img {
    background-image: url('./img/venue-info-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #060c22a9;
    z-index: 0;
}

.gallery-small-img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 190px;
    transition: all .4s;
}

.gallery-small-img:hover {
    background-size: 120%;
    transition: all .4s;
}

.event-gallery [class^="col-"] {
    padding: .3rem;
}

/* HOTELS */

.hotel-section {
    background-color:  #f7f7fd;
    padding: 3.5rem 0px;
}

.bi-star-fill {
    color: orange;
}

.bi-star-half {
    color: orange;
}

.hotel-img {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    transition: all .4s;
}

.hotel-card:hover .hotel-img {
    background-size: 120%;
    transition: all .4s;
}

.hotel-card {
    background-color: #fff;
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(223, 219, 219);
}

.hotel-card-body {
    padding: 1rem;
}

/* GALLERY SECTION */

.gallery-section {
    padding: 3.5rem 0px;
}

.gallery-section .nav-link {
    color: rgba(14, 14, 77, 0.877);
}

.gallery-section .nav-link.active {
    background-color: transparent;
    color: #f72249;
    font-weight: 500;
}

.gallery-img {
    width: 100%;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    overflow: hidden;
}

.gallery-img .img-hover {
    width: 100%;
    background-color: rgba(17, 17, 65, 0.781);
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -100px;
    transition: all .4s;
    
}

.gallery-img:hover .img-hover{
    top: 0;
    transform: all .4s;
}

.gallery-img .img-hover h6,p {
    margin: 0;
}

.gallery-img .img-hover p {
    font-size: .8rem;
}

.gallery-img .img-hover a {
    color: #fff;
    text-decoration: none;
}

.gallery-img .img-hover a:hover {
    color: #f72249;
}

/* SPONSORS SECTION */

.sponsors-section {
    background-color: #f7f7fd !important;
    padding: 3.5rem 0px;
}
.sponsors-section .row-border {
    border-top: 1px solid #dfdede;
    border-left: 1px solid #dfdede;
    background-color: #fff;
}

.sponsor-logo {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dfdede;
    border-bottom: 1px solid #dfdede;
    padding: 1rem;
}

.sponsor-logo img {
    transition: all .4s;
}

.sponsor-logo:hover img {
    transform: scale(1.2);
    transition: all .4s;
}

/* FAQ SECTION */

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: black;
} 

.accordion-item {
    border: 0px;
}

.accordion-button {
    border-bottom: 1px solid lightgrey;
    display: inline;
    padding-left: 0px;
}

.accordion-button:focus {
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
}

.accordion-button.collapsed::after {
    visibility: hidden;
 }
 
 .accordion-button::after {
    visibility: hidden;
 }

.bi-plus-lg {
    float: right;
    margin-right: 10px;
    transition: all .3s;
}

.bi-plus-lg:active {
    transition: all .3s;
}


/* NEWSLETTER SECTION */

.newsletter-section {
    background-image: url('./img/subscribe-img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3.5rem 0px;
    position: relative;
}

.newsletter-section input {
    border-radius: 100px !important;
    padding-left: 1.5rem;
    margin-right: .7rem;
}

.newsletter-dark {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #060c22a9;
    width: 100%;
    height: 100%;
}

.newsletter-section .section-title h2,p {
    color: #fff;
    z-index: 1;
}

.newsletter-section .section-title p {
    color: #fff;
}
.newsletter-section .custom-hr {
    z-index: 1;
}

/* TICKETS SECTION */

.tickets-section {
    padding: 3.5rem 0px;
    background-color: #f7f7fd;
}

.pricing-card {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
}

.pricing-card .pricing-header {
    text-align: center;
    padding: 1rem 0px;
    border-bottom: 1px solid lightgrey;
}

.pricing-card .pricing-header span {
    text-transform: uppercase;
    color: grey;
}

.pricing-card .pricing-header h1 {
    font-weight: 400;
    margin-top: .6rem;
}

.pricing-card .pricing-body {
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}

.pricing-card ul {
    list-style-position: inside;
}

.pricing-card .not-included {
    color: rgb(173, 172, 172);
}

.pricing-card ul li {
    margin-bottom: .7rem;
}

.pricing-card ul li:nth-last-child() {
    margin-bottom: 0px;
}

.pricing-card .pricing-footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

/* CONTACT SECTION */

.contact-section {
    padding: 3.5rem 0px;
}

.contact-section .contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
}

.contact-section .contact-border {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.contact-section .contact-card p {
    color: black;
}

.contact-section .contact-body {
    padding: 3.5rem 0px;
}

.contact-section .contact-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contact-section .contact-footer .btn {
    width: 200px;
}


/* FOOTER */

.footer-section {
    background-color: rgb(10, 17, 44);
    color: #fff;
    padding: 2rem 0px;
}

.footer-section .footer-logo {
    background-image: url('./img/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    margin-right: 1rem;
    margin-bottom: .7rem;
}

.footer-section h4 {
    padding: 1rem;
    margin-top: 10px;
    border-bottom: 1px solid #f72249;
}

.footer-section ul li {
    padding: 1rem;
    border-bottom: 1px solid #fff;
}

.footer-section ul {
  position: relative;
  list-style: none;
}

.footer-section li::before {
  content: '➤';
  color: #f72249;
  position: absolute;
  left: 0;
}

.footer-section .footer-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.footer-section .bi{
    font-size: 45px;
    color: white;
    transition: all .3s;
}

.footer-section .bi:hover {
    color: #f72249;
    transition: all .3s;
}

.footer-section .text-section {
    padding-left: 0px;
    text-align: justify;
}

.footer-end {
    background-color: rgb(9, 11, 22);
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-end .footer-end-colored {
    color: #f72249;
}

.footer-end h6 {
    color: white;
    text-align: center;
    font-weight: 400;
}


/* ! MEDIA QUERY *************************** */

/* XS telefoni otprilike */

@media (max-width: 575.98px) {
    .mb-small {
        margin-bottom: 1.1rem;
    }

    /* ? EVENT SECTION */

    .event-section .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-section .nav .nav-item {
        margin-bottom: .4rem;
    }

    .event-section .list-group .list-group-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .event-section .speaker-img {
        margin: .5rem 0px .7rem 0px;
    }

     .event-section .list-group .list-group-item h6 {
         display: flex;
         flex-direction: column;
     }

     .event-section .list-group .list-group-item i {
         margin-top: .5rem;
     }

     /* ? EVENT GALLERY */

     .event-gallery .gallery-small-img {
         height: 130px;
     }

     /* ? HOTELS */

     .hotel-section .hotel-card-body {
         text-align: center;
     }

     /* ? CONTACT SECTION*/

     .contact-section .contact-card {
         height: 80px;
         border: none;
     }

     .contact-section .contact-body {
         padding: 0px 15px;
         margin-top: 2rem;
     }

     /* ? FOOTER SECTION */

     .footer-section {
         padding: 3.5rem 1.5rem;
     }     

}




/* SM */

@media (min-width: 576px) and (max-width: 767.98px) {

}

/* MD */

@media (min-width: 768px) and (max-width: 991.98px) {

}

/* LG */

@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* XL */

@media (min-width: 1200px) and (max-width: 3000px) {

}
