* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BOJE 
    crvena: #f72249
    teget: #0e184d
    pozadina sekcija: #f7f7fd
    footer: #030919
    copyright sekcija: #101522
*/

/* NAVIGATION */

.cta-btn {
    background-color: #f72249;
    border-radius: 100px;
    color: #fff !important;
    padding: .5rem 1.5rem !important;
    font-weight: 500;
}